.order{
  margin-top: 4rem;
}

.order form {
  max-width: 50rem;
  border-radius: .5rem;
  box-shadow: var(--box-shadow);
  border: .1rem solid rgba(0, 0, 0, .2);
  background: #fff;
  padding: 1.5rem;
  margin: 0 auto;
}

.order form .inputBox {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-between;
}

.order form .inputBox .input {
  width: 99%;
}

.order form .inputBox .input span {
  display: block;
  font-weight: bold;
  padding: .5rem 0;
  font-size: 1.5rem;
  color: var(--balck);
}

.order form .inputBox .input input{
  background: #eee;
  border-radius: .5rem;
  padding: 1rem;
  font-size: 1.6rem;
  color: var(--balck);
  text-transform: none;
  margin-bottom: 2.5rem;
  width: 100%;
}

.register{
  font-size: 1.8rem;
  margin-bottom: .5rem;
  font-weight: 700;
  text-align: center;
}
.register .text-primary{
  color: var(--bittersweet);
}

.order .btn{
  display: block;
  margin: auto;
  background: var(--ocean-green);
}
.order .btn:hover{
  background: var(--sandy-brown);
}


/* fooooter  */
.footer .box-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  gap: 1.5rem;
}

.footer .box-container .box h3 {
  padding: .5rem 0;
  font-size: 2.5rem;
  color: var(--balck);
}

.footer .box-container .box a {
  display: block;
  padding: .5rem 0;
  font-size: 1.5rem;
  color: var(--light-color);
}

.footer .box-container .box a:hover {
  color: var(--green);
  text-decoration: underline;
  font-size: 2rem;
}

.footer .credit {
  text-align: center;
  border-top: .1rem solid rgba(0, 0, 0, .1);
  font-size: 2rem;
  color: var(--balck);
  padding: .5rem;
  padding-top: 1.5rem;
  margin-top: 1.5rem;
}

.footer .credit span {
  color: var(--green);
}

/* media queries  */

@media (max-width:991px) {

  html {
    font-size: 55%;
  }

  header {
    padding: 1rem 2rem;
  }

  section {
    padding: 2rem;
  }

}

@media (max-width:768px) {

  header .icons #menu-bars {
    display: inline-block;
  }

  header .navbar {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    background: #fff;
    border-top: .1rem solid rgba(0, 0, 0, .2);
    border-bottom: .1rem solid rgba(0, 0, 0, .2);
    padding: 1rem;
    clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
  }

  header .navbar.active {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  }

  header .navbar a {
    display: block;
    padding: 1.5rem;
    margin: 1rem;
    font-size: 2rem;
    background: #eee;
  }

  #search-form #search-box {
    width: 90%;
    margin: 0 1rem;
  }

}

@media (max-width:450px) {

  html {
    font-size: 50%;
  }

  .order form .inputBox .input {
    width: 100%;
  }
}

@media (max-width:450px){

  html{
    font-size: 50%;
  }

  .order form .inputBox .input{
    width: 100%;
  }
}